.contactusmain{
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;
   
}
.head{
    text-align: center;
    margin-bottom: 40px;
}
.address{
    padding-left: 20px;
    padding-top:10px ;
    padding-bottom: 10px;
}
 .info-span{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.row{
    display: flex;
    justify-content: space-evenly;
}
.contact-info{
    display: grid;
    grid-template-columns: 250px 250px;
    grid-gap: 20px;
    
}
.address{
    background-color:#fafbff;
    
}
.contactno{
    font-size:15px;
    background-color: #fafbff;
    padding-left: 20px;
    padding-top:10px ;
    padding-bottom: 10px;

}
.emailinfo{
    font-size:15px;
    background-color: #fafbff;
    padding-left: 20px;
    padding-top:10px ;
    padding-bottom: 10px;
}
.opendays{
    font-size:15px;
    background: #fafbff;
    padding-left: 20px;
    padding-top:10px ;
    padding-bottom: 10px;
}
.contact-detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px 10px 0px;
}
  
.contact-detail input{
    padding:10px 0px 10px 10px;
    font-size: medium;

}
.name{
     display: flex;
     gap: 10px;
    
}
.contact-detail textarea{
    resize: none;
    font-size: medium;
    padding: 10px 0px 0px 10px;
}
.butto{
   height: 40px;
   width: 250px;
   margin: auto;
   color: white;
   background-color: coral;
   font-weight: bolder;
   font-size: 15px;
   border:none;
   cursor: pointer;

}
