.team-heading-stick{
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 85px; 
}
.team-stick{
    background-color:red;
    width: 181px;
    height: 2px;
}
.team-elementary-about{
    font-size: 35px;
    font-weight: 600;
}
.team-detail{
    display: flex;
    flex-direction: column;
    width: 80%;
    row-gap: 30px;
    margin: auto;
    padding-top: 10px;
    
}
.girish{
    display: flex;
    column-gap: 30px;
    margin-left: 10%;

}
.chetan{
    display: flex;
    column-gap: 30px;
    margin-left: 10%;
}
.bhawna{
    display: flex;
    column-gap: 30px;
    margin-left: 10%;
}
.team-info{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 60%;
    
   
}
.space-email{
    margin-left: 20px;
}
.team-detail h2{
    color:darkblue;
}

.team-content{
    background: linear-gradient(rgba(250, 208, 193,0.2),rgba(255, 150, 112, 0.2)),url(../../Asset/team-back.jpg) center/cover no-repeat fixed;
    
}