/* video{
    height:60vh;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}  

.content {
position: relative;
}

.content:before {
content: '';
position: absolute;
background: rgba(0, 0, 0, 0.5);
top: 0;
right: 0;
bottom: 0;
left: 0;
} */

.video-box {
  position: relative;
}

.video-box video {
  height:60vh;
  width: 100%;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  background: rgba(0, 0, 0, 0.7); 
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-overlay p {
  margin: 0;
}

.text-overlay h2{
  width: 20%;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
}

.text-overlay div{
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

/* .pencislider-btn{
  
} */
video{
  height:60vh;
  width: 100%;
  object-fit: cover;
}  
.about-us-home{
  box-shadow: 0px 0 50px rgba(43, 36, 36,0.5);
  height: 100%;
  padding: 40px 20px;
  margin: 0 7%;
  
  transition: 0.3s;
  border-radius: 5px;
  }
  .about-p p{
      color:black;
      margin-top: 25px;
      font-weight: 600;
      font-size:20px;
      font-family: "Times New Roman", Times, serif;
  }
  .about-home{
      color:darkblue;
      font-weight: bolder;
      font-size: 40px;
      display: flex;
      justify-content: center;
      margin-top: 20px;
  }
  @media (max-width: 768px){
  .about-us {
  width:100%;
  margin:0;
  }
  .about-p p{
      margin:0;
  }
  }
 