.vedio-box{
    position: relative;
    height:60vh ;
    width: 100vw;
}
.gradient {
    /* position: absolute;
    left: 0;
    top: 0; */
    color: #fff;
    background-color: rgba(50, 50, 50, 0.3);        
    z-index: 10;
}
video{
    height:60vh ;
    width: 100vw;
    object-fit: cover;
    z-index: 5; 
}  
.tagline{
    position: absolute;
    color: red;
    z-index: 11;
}